/* 
File: style.css
Authors:
  - Deepti Bhat  
*/
body {
    background-color: #faf8f6;
    font-family: "Nanum Gothic Coding", monospace;
    overflow-x: hidden;
} 

/* Loader CSS Start*/
.loader-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 9999; /* Ensure it appears above other elements */
}
.loader-container.show {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}
.loader::before,
.loader::after {    
  content:"";
  grid-area: 1/1;
  --c:no-repeat radial-gradient(farthest-side,#25b09b 92%,#0000);
  background: 
    var(--c) 50%  0, 
    var(--c) 50%  100%, 
    var(--c) 100% 50%, 
    var(--c) 0    50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}
.loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear
}
@keyframes l12 { 
  100%{transform: rotate(.5turn)}
}
/* Loader CSS End*/

/*Services CSS Start*/
#services {
    border-radius: 10px;
    width: 50%;
    height: 25rem;
    margin-left: 20%;
    margin-right: 12.5%;
    margin-top: 5%;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 5px 6px #47acb2;
    padding: 5%;
    padding-bottom: 0%;
}
/*Services CSS End*/

/*Account CSS Start*/
#internalNavBar {
    background-color: #116b70;
    height: 3rem;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1.5%;
    text-align: center;
    padding-top: 0.75%;
    box-shadow: 0px 3px 3px 1px gray;
    border-radius: 2px;
}
#internalNavBar a{
    text-decoration: none;
    color: white;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 1.2rem;
}
.shine-text {
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to right, #fffae6, #ffe319, #fffae6);
    background-size: 200% auto;
    text-align: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shine 2s infinite linear;
  }
  
  @keyframes shine {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 200% 0;
    }
    100% {
      background-position: 0 0;
    }
  }  
#account {
    border-radius: 10px;
    width: 90%;
    height: 36rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 5px 6px #47acb2;
    padding: 5%;
    padding-bottom: 0%;
    display: inline-block;
}
.values {
    margin-top: 1.2em;
    font-weight: bold;
    float: right;
    text-align: center;
}
.values p {
    font-size: 1.5em;
    background-color: rgb(162, 159, 159);
    color: white;
    width: 3em;
    height: 2em;
    border-radius: 8px;
    padding: 2px 1px;
    margin-bottom: 1em;
}
#profile-submit {
    margin-top: 3%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;;
    background-color:#c6553e;
    font-weight: bold;
    border-color: #c6553e;
}
/*Account CSS End*/

/*Signin CSS Start*/
#signin-container {
    border-radius: 10px;
    width: 60%;
    height: 33rem;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 5px 6px #47acb2;
    padding: 5%;
    padding-bottom: 0%;
    font-family: "Roboto", sans-serif;
}
#signup-container {
display: none;
}
#login-form {
  width: 180%;
  margin-left: 10%;
  margin-right: 10%;;
  margin-top: 10%;

}
.gradient-text {
  font-size: 48px;
  font-weight: bold;
  background: linear-gradient(to bottom,#116b70, #287b80, white);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
  margin-top: -5%;
}
.form-group {
  margin-bottom: 2%;
}
label {
  margin-bottom: 1%;
}
#submit, #create-acct-btn {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;;
  background-color:#4a9fa3;
  font-weight: bold;
  border-color: #4a9fa3;
}
#signup {
  margin-top: 4%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;;
  color:white;
  background-color:#c6553e;
  padding: 0.4em 0px;
  font-size: 1em;
  border-radius: 5px;
  font-weight: bold;
  border-color: none;
  text-align: center;
  cursor: pointer;;
}
#submit:hover{
  background-color: #6dcbd0;
  border-color: #6dcbd0;
}
#create-acct-btn:hover{
background-color: #6dcbd0;
border-color: #6dcbd0;
}
#signup:hover {
    background-color: #e57660;
    border-color: #e57660;
}
#signin:hover {
    background-color: #e57660;
    border-color: #e57660;
}
/*Signin CSS End*/

/*Signup CSS Start*/
#signup-container {
  border-radius: 10px;
  width: 60%;
  height: 38rem;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 5px 6px #47acb2;
  padding: 5%;
  padding-bottom: 0%;
  font-family: "Roboto", sans-serif;
}
#reg-form {
  width: 180%;
  margin-left: 8%;
  margin-right: 10%;;
  margin-top: 8%;

}
.form-group {
  margin-bottom: 1%;
}
label {
  margin-bottom: 0.5%;
}
#signin {
  margin-top: 0%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;;
  background-color:#c6553e;
  font-weight: bold;
  border-color: #c6553e;
}
/*Signup CSS End*/

/*Toggle CSS Start*/
.nanum-gothic-coding-regular {
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
}
#script1text,
#script2text,
#script3text {
    float: left;
    margin-left: 2%;
    color: #960000;
    margin-right: 2%;
    font-weight: bold;
    font-size: 1.5em;
}
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
}
input:checked + .slider {
    background-color: #116b70;
}
input:focus + .slider {
    box-shadow: 0 0 1px #116b70;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/*Toggle CSS End*/

/*Text CSS Start*/
.text {
    margin-left: 10px;
}
/*Text CSS End*/
  

